version: '3.3'

services:
  mongo:
    image: mongo:6.0.3
    ports:
      - 27017:27017
    environment:
      - MONGO_INITDB_ROOT_USERNAME=$MONGO_USER
      - MONGO_INITDB_ROOT_PASSWORD=$MONGO_PASS
    volumes:
      - ./db:/data/db
    networks:
      - ecommerce
  
  # app:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile
  #   ports:
  #     - "${PORT}:${PORT}"
  #   volumes:
  #     - .:/usr/src/app
  #     - /usr/src/app/node_modules
  #   environment:
  #     - MONGO_HOST
  #     - MONGO_USER
  #     - MONGO_PASS
  #     - MONGO_NAME
  #     - MONGO_DEBUG
  #     - MINIO_URL
  #     - MINIO_PORT
  #     - MINIO_USE_SSL
  #     - MINIO_ACCESS_KEY
  #     - MINIO_SECRET_KEY
  #     - MINIO_BUCKET
  #     - MAIL_HOST
  #     - MAIL_PORT
  #     - MAIL_SECURE
  #     - MAIL_USER
  #     - MAIL_PASS
  #   networks:
  #     - ecommerce
  #   depends_on:
  #     - mongo
  #   restart: always

  minio:
    image: quay.io/minio/minio
    volumes:
      - ./minio:/data
    ports:
      - '80:9000'
      - '9001:9001'
    environment:
      - MINIO_ROOT_USER=$MINIO_ACCESS_KEY
      - MINIO_ROOT_PASSWORD=$MINIO_SECRET_KEY
    command: server /data --console-address ":9001"
    restart: always
    networks:
      - ecommerce
networks:
  ecommerce:
    driver: bridge
